.contacts {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.contacts-headline {
  height: 40vh;
  min-height: 20rem;
  background-color: #e6eff8;
}

.contacts-headline-photo {
  width: 100%;
  height: 100%;
}

.contacts-headline-photo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.contacts-main {
  width: 80%;
  margin: 0 auto;
  max-width: 1280px;
}

.contacts-description {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 50%;
  margin-bottom: 2rem;
}

.contacts-description h2, .contacts-description div {
  text-align: justify;
  color: #08729d;
}

.contacts-description h2 {
  padding: 1rem 1rem 0 1rem;
}

.contacts-description div {
  font-size: .85rem;
  padding: 1rem;
}

.contacts-table {
  display: inline-block;
  width: 50%;
  padding: 6rem 0 3rem 0;
}

.contacts-table table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
}

.contacts-table td {
  color: black;
  padding: .5rem 1rem;
  text-align: center;
}

.contacts-table tr.odd {
  background-color: #dae5ee;
}

/* tablet */
@media only screen and (max-width: 768px) {
  .contacts-main {
    width: 85%;
  }
}

/* phones */
@media only screen and (max-width: 600px) {
  .contacts-main {
    width: 90%;
  }

  .contacts-description div {
    font-size: .5rem;
  }

  .contacts-table td {
    font-size: .6rem;
  }
}


/* phones mini */
@media only screen and (max-width: 400px) {
  .contacts-description div {
    font-size: .4rem;
  }

  .contacts-table td {
    font-size: .5rem;
  }
}
