.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background-color: #08729d;
  -webkit-box-shadow: 0 0 .2rem #000;
  -moz-box-shadow: 0 0 .2rem #000;
  box-shadow: 0 0 .2rem #000;
  z-index: 2;
  white-space: nowrap;
}

.top-bar-logo {
  display: inline-block;
  width: 20%;
  height: 100%;
}

.top-bar-logo a {
  height: 100%;
}

.top-bar-logo img {
  height: 100%;
  object-fit: contain;
}

.top-bar-links-container {
  display: inline-block;
  width: 80%;
  text-align: right;
  vertical-align: top;
  line-height: 3.6rem;
}

.top-bar-link {
  padding: .2rem .6rem 0 .6rem;
  text-decoration: none;
  color: #fafaff;
  display: inline-block;
}

.top-bar-link:visited {
  color: #fafaff;
}

a.top-bar-link div {
  border-bottom: .2rem solid transparent;
}

a.active.top-bar-link div {
  border-bottom: .2rem solid #fafaff;
}

/* phones */
@media only screen and (max-width: 600px) {
  .top-bar-logo {
    display: none;
  }

  .top-bar-links-container {
    width: 100%;
    text-align: center;
  }
}

/* phones mini */
@media only screen and (max-width: 400px) {
  .top-bar {
    font-size: .8rem;
  }
}
